body,p,ul,ol,h1,h2,h3,h4,h5,h6,dl,dt,dd{
	margin:0;padding:0;
}
li{
	list-style: none;
}
a{
	text-decoration:none;
	color:#000;
}
img{
	border:none;vertical-align:top;
}
body{  font-size:12px;}
.fl{ float:left;}
.fr{ float:right;}
.clearfix:after{ content:''; display:block; clear:both;}